main-color = #F2EFE7
second-color = #2973B2
color2 = #9ACBD0
color3 = #48A6A7
// 全站导航栏颜色 header.styl 
header-bottom-color = #009a50
// 文章页面 post.ejs
code-back-color = #e9e9e9
code-color = rgb(206, 0, 0)
title-underline-color = #b8b8b8
post-background-color = #F2EFE7
code-block-background-color = #2e3b4e
code-block-color = #fff
blockquote-color = black
blockquote-background-color = #e5e5e5