.post-container
  background-color: #F2EFE7
  border-radius: 10px 
  padding: 5vh
  margin: 10vh 10vh
  img, iframe
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-left: auto
    max-width: 70%
  img
    border-radius: 10px
  figure
    padding: 0 3vh  
    border-radius: 3px
    background-color #2e3b4e
    .gutter 
      color: #dcdfe1
      box-sizing: content-box
      margin-right: 10vw
    .code
      font-family: 'Courier New', Courier, monospace
      color: #dcdfe1