*
  color1 = #F2EFE7
  color2 = #9ACBD0
  color3 = #48A6A7
  color4 = #2973B2
  margin 0
  padding 0
  box-sizing border-box
a
  text-decoration: none
ul
  list-style: none
@import '_patrial/header.styl';
@import 'index.styl'
@import 'post.styl'